* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: helvetica neue, Arial;
    font-size: 18px;
}

.heading {
    color: #008000;
    margin-bottom: 10px;
}

h1 {
    font-size: 40px;
    margin-top: 20px;
}

h2 {
    font-size: 25px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1140px; 
}
.main-text {
    text-align: justify;
    margin-bottom: 10px;
}
.blog-section {
    width: 75%;
}
.blog-section img{
    height: 150px;
    width: auto;
}